@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 20px;
  background-color: #fff;
}

header {
  display: flex;
  flex-direction: row;
  gap: 1cm;
  font-size: 1.3em;
  font-weight: 200;
  font-style: normal;
  padding: 20px 0;
}

header a {
  text-decoration: none;
  color: #000000;
}

.content-header h1 {
  font-size: 2rem;
}

.content-header .date {
  font-size: 1.2rem;
  color: #777;
  margin-top: 5px;
}


article p {
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

@media screen and (min-width: 680px) {
  body {
    margin-left: 200px;
  }
}
